<%= link_to "Add a new student" , new_student_path %> | <%= link_to "Add a new project" , new_project_path %> | <%= link_to "Track Assignments" , new_assignment_path %>

	<table class="table table-striped">
		<tr>
			<th> Student </th>
			<th> Project Title </th>
			<th> Grade </th>
			<th> Edit </th>
			<th> Delete </th>
		</tr>

		<% @assignments.each do |x| %>
		 <tr>
			<th> <%= x.student.first_name %> <%= x.student.last_name %> </th>
			<th> <%= x.project.title %> </th>
			<th> <%= x.grade %> </th>
			<th> <%= link_to "Edit" , edit_assignment_path(x) %> </th>
			<th> <%= link_to "Delete" , assignment_path(x),:method => :delete, :confirm => "Are you sure you want to delete this project?"  %> </th>
		 </tr>
		<% end %>
	</table>
