<!DOCTYPE html>
<html>
<head>
  <title>AssignmentTracker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container content">
  <h1> <%= link_to "Assignment Tracker" , assignments_path %> </h1>
	<%= yield %>
</div>

</body>
</html>
